@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

.home1 {
  background-color: #36dcbe;
  height: 100vh;
}

.home2 {
  background-color: #50f5a5;
  height: 100vh;
}

.home3 {
  background-color: #9dfc86;
  height: 100vh;
}

.button {
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: "Courier Prime";
  font-size: 36px;
  padding-top: 10px;
  width: 403px;
  height: 100px;
  border-radius: 20px;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  background-color: #ce3030;
  position: relative;
  left: 35%;
  top: 30%;
  box-shadow: 2px 2px 10px black;
}
