@import url('https://fonts.google.com/specimen/Cutive+Mono?category=Sans+Serif,Monospace&preview.text=H4I&preview.text_type=custom');

* {
  margin: 0; 
  padding: 0; 
}

nav {
  display: flex; 
  font-family: 'Courier New', Courier, monospace;
  background-color: #63a4e0;
  padding: 3%;
}

a {
  color: white;
  text-decoration: none;
}

#leftNav {
  margin-left: 10px;
  font-size: 40px;
  font-weight: bold;

}

#rightNav {
  display: flex;
  align-items:center; 
  margin-left: 82%;
  font-size: 20px; 
}

#home{
  margin-right: 30px;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  background-color: #b31c14;
  box-shadow: 0px 2px 5px black;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  position:fixed;
  left: 42%;
  top: 50%;
}